.DS_Store
doc/index.html

*.pbxuser
*.perspectivev3
xcshareddata
xcuserdata
project.xcworkspace
DerivedData
build
Chipmunk-Mac
Chipmunk-iOS
ObjectiveChipmunk-Mac
ObjectiveChipmunk-iOS
generated_docs

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

*.dll
*.so
*.so.*
*.a
*.exe
chipmunk_demos

# Visual studio
*.opensdf
*.opendb
*.sdf
*.suo
*.pdb
*.vcxproj.user
msvc/vc10/demo/ipch/
msvc/vc10/chipmunk/Win32/
msvc/vc10/chipmunk/x64/
msvc/vc10/demo/Win32/
msvc/vc10/demo/x64/
msvc/vc12/chipmunk/Win32/
msvc/vc12/chipmunk/x64/
msvc/vc12/demo/Win32/
msvc/vc12/demo/x64/
msvc/vc13/chipmunk/Win32/
msvc/vc13/chipmunk/x64/
msvc/vc13/demo/Win32/
msvc/vc13/demo/x64/
msvc/vc14/demo/Win32/
msvc/vc14/demo/x64/

