.DS_Store
doc/index.html

xcode/Chipmunk6.xcodeproj/*.pbxuser
xcode/Chipmunk6.xcodeproj/*.perspectivev3
xcode/Chipmunk6.xcodeproj/xcuserdata
xcode/Chipmunk6.xcodeproj/project.xcworkspace
xcode/DerivedData

build

msvc/vc10/ipch/
msvc/vc10/*.opensdf
msvc/vc10/*.sdf
msvc/vc10/*.suo
msvc/vc10/chipmunk/*.vcxproj.user
msvc/vc10/chipmunk/Debug/
msvc/vc10/chipmunk/Debug DLL/
msvc/vc10/chipmunk/Release/
msvc/vc10/chipmunk/Release DLL/
msvc/vc10/demo/*.vcxproj.user
msvc/vc10/demo/Debug/
msvc/vc10/demo/Debug DLL/
msvc/vc10/demo/Release/
msvc/vc10/demo/Release DLL/
