.DS_Store
doc/index.html

xcode/Chipmunk6.xcodeproj/*.pbxuser
xcode/Chipmunk6.xcodeproj/*.perspectivev3
xcode/Chipmunk6.xcodeproj/xcuserdata
xcode/Chipmunk6.xcodeproj/project.xcworkspace
xcode/DerivedData

build

*.opensdf
*.sdf
*.suo
msvc/vc10/chipmunk/Win32/
msvc/vc10/demo/ipch/
msvc/vc10/demo/Win32/
